.about .owner__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.about .owner__container .owner__content{
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.about .owner__container .owner__content img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.about .owner__container .owner__content h3{
    display: flex;
    justify-content: center;
    align-items: center;

}

.about .owner__container .owner__content p{
    display: flex;
    justify-content: center;
    align-items: center;
}