.catering{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.catering .catering__img{
    display: flex;
    justify-content: left;
    width: 50%;
}
.catering .catering__img img{
    width: 100%;
    height: 100%;
}

.catering .catering__info{
    width: 50%;
    margin: auto;
}

.catering .catering__info h2{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    color: rgb(156,210,43);
    font-size: 50px;
    font-family: 'Maharlika';
    font-weight: 100;
}

.catering .catering__info p{
    width: 70%;
    margin:auto;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}