@font-face {
    font-family: 'Maharlika';
    src: url('Maharlika-Regular.woff2') format('woff2'),
        url('Maharlika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

