.viandas .home__product__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin: 0 100px;
}

.home__product__container .product__card{
    display: block;
    gap: 20px;
}

.product__card .product__card__img img{
    margin-bottom: 10px;
}
.product__card button{
    border: 1px black solid;
    border-radius: 0px;
    width: 200px;
    padding: 5px;
    font-weight: bold;
}

.home__product__container .product__stock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}