.detail__container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.detail__container .detail__img{
    width: 30%;
    margin: 0 0 40px 30px;
    padding: 0;

}
.detail__container .detail__img img{
    width: 200px;
    height: 200px;
}

.detail__container .detail__img .stock__item{
    display: flex;
    justify-content :center;
    align-items: center;
    border: 1px rgb(142, 228, 124) solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    gap: 20px;
}

.detail__container .detail__img .stock__item p{
    margin: 10px;
}

.detail__container .item__container{
    width: 70%;
    margin-left: 50px;
    margin-bottom: 100px;
}

.detail__container .item__container h4{
    display: flex;
    justify-content: left;
}

.detail__container .detail__item{
    display: flex;
    justify-content: left;
    align-items: center;
}

.detail__container .item__container button{
    display: flex;
    justify-content: left;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(166, 211, 76);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}