.viandas{
    width: 100vh;
    height: 100%;
    margin: 0 auto;
}

.viandas__intro h2{
    padding-top: 50px;
}

.product__container{
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product__container .product__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1.5fr));
    grid-gap: 50px;
    margin: 0 50px;
    width: 100%;
}