.product__card{
    display: block;
}

.product__card .product__card__img{
    width: 100%;
}

.product__card .product__card__img img{
    width: 100%;
    object-fit: cover;
}
.product__card .product__card__text{
    display: block;
    text-align: left;
    padding-top: 10px;
}

.product__card .product__card__text h4{
    margin: 0;
    padding: 1px 0;
    font-size: 15px;
    text-transform: uppercase;
}

.product__card button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(166, 211, 76);
    border: none;
}