.nav__cart button{
    background: none;
    border: none;
    color: white;
}

.nav__cart .cart__widget{
    display: none;
}

.nav__cart .active{
    display: block;
    background-color: rgb(204, 199, 186);
    z-index: 1000;
    position:absolute;
    width: 40vh;
    height: 100vh;
    top: 0;
    right: 0;
}

.nav__cart .active .cart__widget__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__cart .active .cart__widget__title h4{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Maharlika';
    font-weight: 100;
    margin: 10px 0;

}

.nav__cart .active .cart__widget__title button{
    position: relative;
    left: 90px;
}

.nav__cart .active .cart__widget__product{
    display: flex;
    justify-content: space-between;
    width: 38vh;
    height: 150px;
    position: absolute;
    right: 0;
    color: black;
}

.nav__cart .active .cart__widget__product .product__img img{
    margin: 25px 10px;
    width: 150px;
}

.nav__cart .active .cart__widget__product .product__dataprice{
    display: block;
    margin: auto;
}