.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(156,210,43);
}

.footer .footer__logo img{
    width: 200px;
}

.footer .footer__info p{
    margin: 0;
    color: white;
}

.footer .footer__rsociales a{
    display: inline-block;
    width: 50px;
    margin: 5px;
    color: white;
}