
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding-bottom: 10px;
    background-color: rgba(179, 173, 143, 0.583);
}

.nav .nav__logo{
    padding-left: 15px;
    width: 150px;
}

.nav .nav__menu{
    width: 100%;
}

.nav .nav__menu .nav__list{
    list-style: none;
}

.nav .nav__menu .nav__list .nav__item{
    display: inline-block;
    font-size: 1rem;
}

.nav .nav__list .nav__item .nav__link{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.nav__link:hover{
    background-color: rgba(179, 173, 143, 0.24);
}
.nav .nav__icons{
    width: 10%;
    color: white;
}

.nav .nav__icons a{
    color: white;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.nav__list .nav__item a{
    display: block;
}

.nav__list .nav__item .subnav__list{
    display: none;
    position: absolute;
}

.nav__list .nav__item:hover > ul{
    display: block;
}

.subnav__list{
    width: 178px;
    padding: 0;
    color: white;
    background-color: rgba(179, 173, 143, 0.24);
}

.subnav__list .subnav__link{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.subnav__list .subnav__link li a{
    padding: 0;
}
